.site {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  .site-header {
    min-height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color__theme_primary;
    color: $color__menu_text;
    padding-bottom: 20px;

    .site-title {

      a {
        font-size: 2em;
        line-height: 1em;
        color: $color__menu_link;
        text-decoration: none;

        &:hover, &:focus {
          text-decoration: underline;

        }

      }

    }

    .site-description {
      line-height: 1em;
      width: auto;
      font-size: 1.2em;
      font-style: italic;
    }

    .site-branding {

      display: flex;
      justify-content: center;
      align-items: center;
    }

    .site-branding-text {
      font-family: $font__roberto !important;
      margin-left: 30px;
    }
  }

  .custom-buttons {
    display: inline-flex;
    width: 90%;

    .custom-button-1 {
      a {
        color: black;
        font-weight: 700;
        text-decoration: none;
        background-color: $color__theme_call_to_action;
        padding: 10px 10px;
        margin-right: 10px;
        border-radius: 10px;
        border: solid black 4px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .custom-button-2 {
      a {
        color: white;
        text-decoration: none;
        background-color: black;
        padding: 10px 10px;
        margin-left: 10px;
        border-radius: 10px;
        border: solid black 4px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .header-image{
    img{
      width: 100vw;
      max-height: 40vh;
      overflow: hidden;
    }
  }
  .custom-logo-link {
    display: flex;

    img {
      max-width: 150px;
      height: auto;
    }
  }

  .main-navigation {
    margin-top: 50px;
    ul {
      li {
        a {
          font-weight: 500;
          padding: 5px 5px;
          color: $color__menu_link;

          &:hover, &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}